<app-header></app-header>
<div class="main bg-primary-color-extra-light dark:bg-secondary-color-extra-dark">
    <div class="left-side">
        <app-sidebar></app-sidebar>
    </div>
    <div class="middle" *ngIf="dashboardRole == true" >
        <div class=" px-10 pt-4  flex flex-row justify-center space-x-3">
            <div [className]="GetSelectedClass(false)" (click)="ChangeSelectedIndex(false)">
                <span class="text-sm font-semibold ">Report</span>
            </div>
            <div [className]="GetSelectedClass(true)" (click)="ChangeSelectedIndex(true)">
                <span class="text-sm font-semibold ">Unban</span>
            </div>
        </div>
        <app-report *ngIf="!this.selectedItem"></app-report>
        <app-unban *ngIf="this.selectedItem"></app-unban>
    </div>
    <div class="right-side">
        
    </div>
    <div class="main flex h-screen justify-center items-center flex-col" *ngIf="dashboardRole == false">
        <p class="text-slate-700 text-2xl font-semibold">Erişim Başarısız</p>
    </div>
</div>