<app-header></app-header>
<div class="main bg-primary-color-extra-light dark:bg-secondary-color-extra-dark">
    <div class="left-side">
        <app-sidebar></app-sidebar>
    </div>
    <div class="middle pt-6 flex flex-col items-center ">
        
        <div class="flex flex-row space-x-3 py-6 px-10 bg-white dark:bg-secondary-color  rounded-lg shadow-2xl ">
            <div [class]="GetSelectedClass(false)" (click)="changeSelectedSettings(false)">
                <span class="text-sm font-semibold">Şifre Ayarları</span>
            </div>
            <div  [class]="GetSelectedClass(true)" (click)="changeSelectedSettings(true)">
                <span class="text-sm font-semibold">Bildirim Ayarları</span>
            </div>
        </div>
    
        
        <app-password *ngIf="!selectedSetting"></app-password>
        <app-notification-settings *ngIf="selectedSetting"></app-notification-settings>
    </div>
    <div class="right-side">
        
    </div>
    
</div>