<div class="message-main flex flex-col  divide-y-2 dark:divide-secondary-color overflow-y-hidden  ">
    <div class="message-header bg-white dark:bg-secondary-color">
        <div class="header-left flex flex-col px-4 py-4">
            <div class="search-box flex flex-row  w-full justify-center items-center">
                <input type="text" placeholder="Kullanıcı Ara" class="w-11/12 dark:bg-secondary-color dark:text-white" [(ngModel)]="chatFilterText">
                <div class="px-4 py-2 bg-primary-color-orange cursor-pointer hover:opacity-90 dark:bg-secondary-color-light" (click)="Search()">
                    <mat-icon class="text-2xl text-white dark:text-secondary-color-extra-dark ">search</mat-icon>
                </div>
            </div>
        </div>
        <div class="header-right w-full flex justify-center  items-center">
                <div class="flex flex-row items-start space-x-2" *ngIf="this.CurrentChatProfile != undefined">
                    <img [src]="GetUserAvatar(CurrentChatProfile.profileImage)" height="50px" width="50px" class="rounded-full" alt="user-vatar">
                    <span class="text-2xl text-black font-semibold dark:text-white">{{CurrentChatProfile.name}}</span>
                </div>
        </div>
    </div>
    <div class="message-body bg-white dark:bg-secondary-color">

        <div class="friend-list divide-y-4 dark:divide-secondary-color-extra-dark " >
            <div  *ngFor="let friend of FriendMessageList | chatFilter:chatFilterText ">
            <div 
                [class]="GetMessageListClass(friend.chatId)" (click)="SelectUser(friend.chatId)">
                <div class="flex flex-row  justify-between px-2 pt-2  " >
                    <div class="flex flex-row space-x-2">
                        <img [src]="GetUserAvatar(friend.profileImage)"
                        width="50" height="50" class="rounded-full cursor-pointer hover:opacity-90" alt="avatar">
                      <span class="user-name font-semibold flex-wrap text-left dark:text-white" >{{friend.name}}</span>
                    </div>
                    <div *ngIf="friend.notShowedMessagesCount > 0">
                        <span  [matBadge]="friend.notShowedMessagesCount" matBadgeSize="medium" matBadgePosition="below" matBadgeColor="warn"> </span>
                    </div>
                </div>
                <div class="w-full flex flex-col justify-between hover:text-primary-color-light py-2">
                    <span class="user-message py-2 dark:text-white">{{GetShortMessageContent(friend.lastMessage) }}</span>
                    <div class="flex flex-row items-end justify-between">
                        <span  class="user-message-date left-date dark:text-white">{{friend.lastMessageDate |date:"dd/MMM/y"}}</span>
                        <span class="user-message-date right-date dark:text-white">{{friend.lastMessageDate |date:"HH:mm:ss"}}</span>
                    </div>
                </div>
            </div>
            </div>
        </div>

        <div class="chat-section border-slate-500 dark:border-secondary-color-red">
            <div id="chat" class="message-section flex flex-col  h-[540px]  w-full px-4 py-2 bg-slate-300 dark:bg-slate-900 border-white dark:border-secondary-color overflow-y-scroll overflow-y-hidden" (scroll)="UpdateScrollEvent($event)"  *ngIf="CurrentChatProfile != undefined">
               <div *ngIf=" messages.length > 0 && messages != undefined" >
                <div class="z-10" *ngFor="let message of messages"   >
                        <div class="flex justify-start my-2" *ngIf="message.userId != myid">
                            <div class="w-1/2 px-4 py-2 bg-white dark:bg-secondary-color rounded-lg">
                                <div class="flex flex-col space-y-2">
                                    <div class="flex justify-start" *ngIf="message.type > 1">
                                        <img [src]="GetMessageImage(message.imagePath)"
                                        alt="image">
                                    </div>
                                    <div class="flex flex-wrap">
                                        <span class="message-content text-slate-700 dark:text-white">{{message.content}}</span>
                                    </div>
                                    
                                </div>
                                <div class="flex flex-row justify-between pt-2" >
                                    <span class="message-content-left-date dark:text-white">{{message.creationDate |date:"HH:mm:ss"}}</span>
                                    <span class="message-content-right-date dark:text-white">{{message.creationDate |date:"dd/MMM/y"}}</span>
                                </div>
                            </div>
                        </div>
                    
                        <div class="flex justify-end my-2" *ngIf="message.userId == myid">
                            <div class="w-1/2 px-4 py-2 bg-primary-color-dark dark:bg-secondary-color-light opacity-80 rounded-lg">
                                <div class="flex-col space-y-2">
                                    <div class="flex justify-start" *ngIf="message.type > 1">
                                        <img [src]="GetMessageImage(message.imagePath)"
                                        alt="image">
                                    </div>
                                    <div class="flex flex-wrap">
                                        <span class="message-content text-primary-color-light dark:text-black">{{message.content}}</span>
                                    </div>
                                   
                                </div>
                                <div class="flex flex-row justify-between pt-2">
                                    <span class="message-content-left-date text-white dark:text-black">{{message.creationDate |date:"HH:mm:ss"}}</span>
                                    <span class="message-content-right-date text-white dark:text-black">{{message.creationDate |date:"dd/MMM/y"}}</span>
                                </div>
                            </div>
                        </div>
            </div>
            </div>
            <div class="flex flex-row flex-wrap justify-center" *ngIf="messages.length == 0 || messages == undefined">
                <p class="text-sm text-slate-400 font-semibold">Henüz gönderilen bir mesaj bulunmamakta</p>
            </div>
            </div>
            <div class="send-image  flex flex-row justify-end  z-50" *ngIf=" CurrentChatProfile != undefined &&chatDictionary[CurrentChatProfile.chatId].image != undefined">
                <img [src]="GetChatImage()" class="cursor-pointer send-image-size hover:opacity-90"  alt="send-image" (click)="DeleteChatImage()">
            </div>
            <div class="chat  h-3/4 w-full flex justify-center items-center px-4 py-2 bg-white dark:bg-secondary-color-extra-dark " *ngIf="CurrentChatProfile == undefined">
                <div class="bg-primary-color-orange px-6 py-4 flex justify-center items-center cursor-pointer hover:bg-primary-color-yellow text-white hover:text-black dark:bg-secondary-color-light  rounded-full shadow-lg" (click)="OpenMessageBoxModal()">
                    <span class="text-sm dark:text-secondary-color-extra-dark">Mesajlaşma Başlat</span>
                </div>
            </div>
            <div id="message-box-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                <div class="p-4 bg-primary-color-light dark:bg-secondary-color-dark rounded-lg w-full max-w-xl max-h-full">
                    <!-- Modal content -->
                    <div class="w-full flex flex-row justify-between">
                        <div class="flex w-full flex-row py-2 ">
                            <input type="text" class="w-full dark:bg-secondary-color dark:text-white" placeholder="Kullancı Ara" [(ngModel)]="friendFilterText">
                        </div>
                       <div class="flex flex-row justify-end px-2 py-2">
                        <button (click)="CloseMessageBoxModal()"><mat-icon class="hover:bg-primary-color-white hover:text-white  rounded-md">close</mat-icon></button>
                       </div>
                    </div>
                    <div class="w-full divide-y-2">
                    <div class="px-4 py-4 bg-primary-color dark:bg-secondary-color-extra-light rounded-lg  w-full flex flex-row justify-between " *ngFor="let friend of FriendList |friendFilter:friendFilterText">
                        <div class="flex flex-row w-full justify-between">
                            <div class="flex flex-row space-x-2">
                                <img [src]="GetUserAvatar(friend.profileImage)"
                        width="50" height="50" class="rounded-full cursor-pointer hover:opacity-90" alt="avatar">
                                <span class="text-2xl  text-white">{{friend.name}}</span>
                            </div>
                            <div class="flex justify-center items-center px-6 py-2  bg-slate-100 hover:opacity-90  cursor-pointer dark:bg-secondary-color-light rounded-md" (click)="SendMessage(friend.userId)">
                                <mat-icon class="text-2xl text-black dark:text-secondary-color-extra-dark"> mail_outline</mat-icon>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>

            <div class="input-section flex flex-col px-2 py-2" *ngIf="CurrentChatProfile != undefined">
                <div class="flex flex-row justify-between w-full">
                <div  class="w-11/12">
                <textarea name="chatarea"  (keyup.enter)="Send()" [(ngModel)]="chatDictionary[CurrentChatProfile.chatId].message"  id="chat-textarea" class=" w-full overflow-y-auto dark:bg-secondary-color dark:text-white overflow-x-hidden h-full"
                    rows="1" maxlength="255"></textarea>
                </div>
                <div
                    class="flex  justify-center w-1/12  cursor-pointer items-center bg-primary-color-orange dark:bg-secondary-color-blue hover:opacity-80" (click)="Send()">
                    <span class="send-button-text font-semibold text-white dark:text-secondary-color-extra-dark">Gönder</span>
                </div>
                 </div>
            <div>
            <div class="w-full py-2">
                    <div class="flex flex-row  divide-x divide-gray-400">
                        <div>
                            <input type="file" name="post-image" id="chat-image-file"  accept=".png,.jpg"
                                ngf-max-size="5MB" class="hidden" (change)="ChatImageSelected($event)">
                            <mat-icon
                                class="cursor-pointer text-primary-color-dark hover:text-primary-color-orange hover:bg-gray-100 dark:text-secondary-color-light dark:hover:bg-gray-500" (click)="OpenImageFile()">
                                insert_photo</mat-icon>
                        </div>
                        <mat-icon
                            class="cursor-pointer text-primary-color-dark hover:text-primary-color-orange hover:bg-gray-100 dark:text-secondary-color-light dark:hover:bg-gray-500">
                            insert_emoticon
                        </mat-icon>
                    </div>
                </div>
            </div>
            </div>
            <div class="h-1/4 bg-white dark:bg-secondary-color-extra-dark flex flex-row px-2 py-2" *ngIf="CurrentChatProfile == undefined">

            </div>
        </div>
    </div>
</div>