<div class="flex flex-col items-center justify-center h-screen max-h-1/2 divide-y-2  overflow-y-hidden py-20 ">
    <div class="w-4/5 flex flex-row bg-white">
        <div class="w-1/4 flex flex-col px-4 py-4">

            <div class="flex flex-row  w-full justify-center items-center">
                
                <input type="text" placeholder="Kullanıcı Ara" class="w-11/12">
                <mat-icon class="text-2xl w-1/12">search</mat-icon>
            </div>
            
        </div>
        <div class="w-3/4 w-full flex justify-center  items-center">
            
                <div class="flex flex-row items-start space-x-2">
                    <img src="https://localhost:7223/Uploads/images/7fdd721a-0fcc-4e37-89d1-32af56e4e191_12_18_2023.jpg" height="50px" width="50px" class="rounded-full" alt="user-vatar">
                    <span class="text-2xl text-black font-semibold">Melihcan Şimşek</span>
                </div>
           
        </div>
    </div>
    <div class="w-4/5 h-full flex flex-row  bg-white">
        <div class="flex flex-col w-1/4 divide-y-4 overflow-y-auto overflow-x-hidden">

            <div
                class="flex flex-row w-full py-2 px-2 bg-white cursor-pointer shadow-lg hover:bg-primary-color-dark hover:opacity-80 text-black hover:text-white">
                <div class="flex flex-col justify-start px-2 py-2 ">
                    <img src="https://localhost:7223/Uploads/images/7fdd721a-0fcc-4e37-89d1-32af56e4e191_12_18_2023.jpg"
                        width="50" height="50" class="rounded-full cursor-pointer hover:opacity-90" alt="avatar">
                    <span class="text-sm font-semibold">Melihcan</span>
                </div>
                <div class="w-full flex flex-col hover:text-primary-color-extra-light space-y-1 py-2">
                    <div class="flex flex-row justify-between">
                        <span class=" ">12/12/2023</span>
                        <span>12:25</span>
                    </div>
                    <span class="text-sm ">Lorem ipsum dolor sit.</span>
                </div>
            </div>
            
      


        </div>


        <div class="h-full w-3/4 border-l-4 border-slate-500">
            <div class="chat  h-5/6 w-full px-4 py-2 bg-slate-300  overflow-y-auto overflow-x-hidden ">
                <div class="flex justify-start">
                    <div class="w-1/2 px-4 py-2 bg-white rounded-lg">
                        <div class="flex flex-wrap space-y-2">
                            <img src="https://localhost:7223/Uploads/images/7fdd721a-0fcc-4e37-89d1-32af56e4e191_12_18_2023.jpg"
                                alt="image">
                            <span class="text-sm text-slate-700">Lorem ipsum dolor sit, amet consectetur adipisicing
                                elit. Illum deleniti dolorem facere pariatur provident consequuntur mollitia laudantium
                                assumenda incidunt iusto!</span>
                        </div>
                        <div class="flex flex-row justify-between pt-2">
                            <span class="text-sm">15:40</span>
                            <span class="text-sm">12/12/2023</span>
                        </div>
                    </div>
                </div>
               
                <div class="flex justify-end">
                    <div class="w-1/2 px-4 py-2 bg-primary-color-dark opacity-80 rounded-lg">
                        <div class="flex flex-wrap space-y-2">
                            <img src="https://localhost:7223/Uploads/images/7fdd721a-0fcc-4e37-89d1-32af56e4e191_12_18_2023.jpg"
                                alt="image">
                            <span class="text-sm text-primary-color-extra-light">Lorem ipsum dolor sit, amet consectetur adipisicing
                                elit. Illum deleniti dolorem facere pariatur provident consequuntur mollitia laudantium
                                assumenda incidunt iusto!</span>
                        </div>
                        <div class="flex flex-row justify-between pt-2">
                            <span class="text-sm text-white">15:40</span>
                            <span class="text-sm text-white">12/12/2023</span>
                        </div>
                    </div>
                </div>

            

            </div>

            <div class="h-1/6 flex flex-row px-2 py-2">
                <div class="flex flex-row justify-between w-full">
                <div class="w-11/12">
                <textarea name="chatarea" id="chat-textarea" class=" w-full overflow-y-auto overflow-x-hidden h-full"
                    rows="3"></textarea>
                <!-- <div class="relative w-full  px-10  z-50">
                    <div class="flex flex-row  divide-x divide-gray-400">
                        <div>
                            <input type="file" name="post-image" id="post-image-file" accept=".png,.jpg"
                                ngf-max-size="5MB" class="hidden">
                            <mat-icon
                                class="cursor-pointer text-primary-color-dark hover:text-primary-color hover:bg-gray-100">
                                insert_photo</mat-icon>
                        </div>
                        <mat-icon
                            class="cursor-pointer text-primary-color-dark hover:text-primary-color hover:bg-gray-100">
                            insert_emoticon
                        </mat-icon>
                    </div>
                </div> -->
                </div>
                <div
                    class="flex  justify-center w-1/12  cursor-pointer items-center bg-primary-color-dark hover:opacity-80">
                    <span class="text-sm font-semibold text-white">Gönder</span>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>