<div class="px-10">
    <div class=" py-4 flex flex-row">
        <div
            class="w-1/3 py-6 flex items-center justify-center bg-primary-color hover:bg-primary-color-dark cursor-pointer" (click)="changePostState(1)">
            <span class="text-xl text-white">Gönderiler</span>
        </div>
        <div
            class="w-1/3 py-6  flex items-center justify-center bg-primary-color hover:bg-primary-color-dark cursor-pointer" (click)="changePostState(2)">
            <span class="text-xl text-white">Yorumlar</span>
        </div>
        <div
            class="w-1/3 py-6 flex items-center justify-center bg-primary-color hover:bg-primary-color-dark cursor-pointer" (click)="changePostState(3)">
            <span class="text-xl text-white">Beğeniler</span>
        </div>
    </div>

    <div *ngIf="PostState == 1">
        <div class="flex justify-center py-2">
            <span class="text-2xl font-semibold">Gönderiler</span>
        </div>
        <div *ngIf="UserPostDetails.length > 0">
        <div *ngFor="let post of UserPostDetails" class="py-4">
        <div class="px-10 py-8 bg-white" >
            <div class=" pt-4 flex flex-row justify-between">
                <div class="flex flex-row">
                    <img [src]="getPostProfileImage(post.profileImage)" width="50"
                        height="50" class="rounded-full pr-2 cursor-pointer hover:opacity-80" alt="image">
                    <span class="text-xl">{{post.name}}</span>
                </div>
                <div>
                    <span class="text-slate-500 text-sm">{{post.creationDate |date:"dd/MMM/y"}}</span>
                </div>
            </div>
            <div >
            <div class="pl-10 ">
                <p>
                    {{post.message}}
                </p>
                <div class="w-full" *ngIf="post.type > 1">
                    <a  target="_blank"><img [src]="getPostContentImage(post.imagePath)" alt="post-image" class="w-4/5 rounded-lg cursor-pointer"></a>
                </div>
            </div>
            </div>
            <div class="pl-10 pr-6 py-4 flex flex-row justify-around space-around">
                <div >
                    <mat-icon mat-raised-button [matBadge]="post.comment" matBadgeSize="small" matBadgePosition="below after" matBadgeColor="primary"  aria-hidden="false" class="cursor-pointer text-slate-700 hover:text-slate-500"> comment</mat-icon>
                </div>
    
                <div >
                    <mat-icon mat-raised-button [matBadge]="post.fav.length" matBadgeSize="small" matBadgePosition="below after" matBadgeColor="primary"  aria-hidden="false" class="cursor-pointer text-slate-700 hover:text-slate-500"> favorite_border</mat-icon>
                </div>
                <div >
                    <mat-icon class="cursor-pointer text-slate-700 hover:text-slate-500"> share</mat-icon>
                </div>
                <div >
                    <mat-icon  class="cursor-pointer text-slate-700 hover:text-slate-500"> report</mat-icon>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="flex flex-row justify-center flex-wrap px-10 py-4" *ngIf="UserPostDetails.length == 0">
        <span class="text-slate-500 font-semibold text-sm" >Kullanıcının henüz gönderisi yok.</span>
    </div>
    </div>

    <div *ngIf="PostState == 2">
        <div class="flex justify-center py-2">
            <span class="text-2xl font-semibold">Yorumlar</span>
        </div>
        <div *ngIf="UserCommentDetails.length > 0">
        <div class="pt-4" *ngFor="let comment of UserCommentDetails">
        <div class="px-10 py-2 bg-white" >
            <div class="pt-4 flex flex-row justify-center">
                <span  routerLink="/posts/{{comment.parentId}}" class="text-slate-500 hover:text-slate-700 cursor-pointer">Yorumlanan gönderi...</span>
            </div>
            <div class=" pt-4 flex flex-row justify-between" >
                <div class="flex flex-row">
                    <img [src]="getPostProfileImage(comment.profileImage)" width="50"
                        height="50" class="rounded-full pr-2 cursor-pointer hover:opacity-80" alt="image">
                    <span class="text-xl">{{comment.name}}</span>
                </div>
                <div>
                    <span class="text-slate-500 text-sm">{{comment.creationDate |date:"dd/MMM/y"}}</span>
                </div>
            </div>
            <div >
            <div class="pl-10 ">
                <p>
                    {{comment.message}}
                </p>
                <div class="w-full" *ngIf="comment.type > 1">
                    <a  target="_blank"><img [src]="getPostContentImage(comment.imagePath)" alt="post-image" class="w-4/5 rounded-lg cursor-pointer"></a>
                </div>
            </div>
            </div>
            <div class="pl-10 pr-6 py-4 flex flex-row justify-around space-around">
                <div >
                    <mat-icon mat-raised-button [matBadge]="comment.comment"  matBadgeSize="small" matBadgePosition="below after" matBadgeColor="primary"  aria-hidden="false" class="cursor-pointer text-slate-700 hover:text-slate-500"> comment</mat-icon>
                </div>
    
                <div >
                    <mat-icon mat-raised-button [matBadge]="comment.fav.length" matBadgeSize="small" matBadgePosition="below after" matBadgeColor="primary"  aria-hidden="false" class="cursor-pointer text-slate-700 hover:text-slate-500"> favorite_border</mat-icon>
                </div>
                <div >
                    <mat-icon class="cursor-pointer text-slate-700 hover:text-slate-500"> share</mat-icon>
                </div>
                <div >
                    <mat-icon class="cursor-pointer text-slate-700 hover:text-slate-500"> report</mat-icon>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="flex flex-row justify-center flex-wrap px-10 py-4" *ngIf="UserCommentDetails.length == 0">
    <span class="text-slate-500 font-semibold text-sm" >Kullanıcının henüz yorumu yok.</span>
</div>
    </div>
    
    <div *ngIf="PostState == 3">
        <div class="flex justify-center py-2">
            <span class="text-2xl font-semibold">Beğeniler</span>
        </div>
        <div *ngIf="UserFavDetails.length > 0">
        <div class="px-10 py-2 bg-white" *ngFor="let favpost of UserFavDetails" >
            <div class=" pt-4 flex flex-row justify-between">
                <div class="flex flex-row">
                    <img [src]="getPostProfileImage(favpost.profileImage)" width="50"
                        height="50" class="rounded-full pr-2 cursor-pointer hover:opacity-80" alt="image">
                    <span class="text-xl">{{favpost.name}}</span>
                </div>
                <div>
                    <span class="text-slate-500 text-sm">{{favpost.creationDate |date:"dd/MMM/y"}}</span>
                </div>
            </div>
            <div >
            <div class="pl-10 ">
                <p>
                    {{favpost.message}}
                </p>
                <div class="w-full" *ngIf="favpost.type > 1">
                    <a  target="_blank"><img [src]="getPostContentImage(favpost.imagePath)" alt="post-image" class="w-4/5 rounded-lg cursor-pointer"></a>
                </div>
            </div>
            </div>
            <div class="pl-10 pr-6 py-4 flex flex-row justify-around space-around">
                <div >
                    <mat-icon mat-raised-button [matBadge]="favpost.comment"  matBadgeSize="small" matBadgePosition="below after" matBadgeColor="primary"  aria-hidden="false" class="cursor-pointer text-slate-700 hover:text-slate-500"> comment</mat-icon>
                </div>
    
                <div >
                    <mat-icon mat-raised-button [matBadge]="favpost.fav.length" matBadgeSize="small" matBadgePosition="below after" matBadgeColor="primary"  aria-hidden="false" class="cursor-pointer text-slate-700 hover:text-slate-500"> favorite_border</mat-icon>
                </div>
                <div >
                    <mat-icon class="cursor-pointer text-slate-700 hover:text-slate-500"> share</mat-icon>
                </div>
                <div >
                    <mat-icon  class="cursor-pointer text-slate-700 hover:text-slate-500"> report</mat-icon>
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-row justify-center flex-wrap px-10 py-4" *ngIf="UserFavDetails.length == 0">
        <span class="text-slate-500 font-semibold text-sm" >Kullanıcının henüz beğenisi yok.</span>
    </div>
    </div>

</div>