.relative {
    position: relative;
}

.bg-cover {
    background-size: cover;
}

.bg-center {
    background-position: center;
}

.bg-profile {
    background-repeat: no-repeat;
    background-size: inherit;
    background-position: center;
}

.post-image-container {
    width: 100%;
    height: 100%;
}


.user-post-text{
    font-size: 1.125rem;
}

.select-text{
    font-size:1.25rem ;
}

.name-text{
    font-size: 1.25rem;
}

.date-text{
    font-size:  0.875rem;
}

@media screen and (max-width: 1025px)
{
   
  .select-text{
    font-size: 1rem;
  }
}

@media screen and (max-width:800px) {
    .name-text{
        font-size: 1rem;
    }
    
    .date-text{
        font-size:  0.675rem;
    }

    .user-post-text{
        font-size: 1rem;
    }
    
}


@media screen and (max-width: 769px)
{
   
  .select-text{
    font-size:1.25rem ;
  }
  .name-text{
    font-size: 1.25rem;
}

    .date-text{
        font-size:  0.875rem;
    }

    .post-content-image{
        height: 300px;
    }
}

@media screen and (max-width: 600px)
{
   
  .select-text{
    font-size: 1rem;
  }

  .user-post-text{
    font-size: 0.8rem;
}
}

@media screen and (max-width: 500px)
{
   
  .select-text{
    font-size: 0.9rem;
  }

  .name-text{
    font-size: 1rem;
}

    .date-text{
        font-size:  0.675rem;
    }
}


/* @media screen and (max-width: 430px)
{
    .name-text{
        font-size: 1rem;
    }
    
    .date-text{
        font-size:  0.675rem;
    }
    
} */

@media screen and (max-width: 375px)
{
    .select-text{
        font-size: 0.8rem;
      }
    .name-text{
        font-size: 0.9rem;
    }
    
    .date-text{
        font-size:  0.575rem;
    }
}