<div class="px-10 py-8 ">
    <div class="post w-full py-6" *ngIf="post.status == true">
    <!-- post header section -->
    <div class="bg-white w-full flex flex-row justify-between px-6 py-2 shadow-lg cursor-pointer " >
        <div class="flex flex-row gap-1">
        <img [src]="getUserProfileImage(post.profileImage)" alt="profile-image" class="rounded-full cursor-pointer hover:opacity-90" width="50" height="50" routerLink="/profile/{{post.userId}}">
        <span class="bold text-lg text-black">{{post.name}}</span>
        </div>
        <span class="text-sm text-slate-900 mute">{{post.creationDate |date:"dd/MMM/y"}}</span>
    </div>
    <hr class="w-full h-1 bg-primary-color-extra-light">
    <!-- post body section -->
    <div class="bg-white w-full pb-4 shadow-lg cursor-pointer" >
        <div class="w-full pl-10 pr-6 pt-4">
            <p class="flex flex-wrap text-[1.1rem]">{{post.message}}</p>
        </div>
        <div class="w-full pl-10 pr-6" *ngIf="post.type > 1">
            <a [href]="imageUrl+post.imagePath" target="_blank"><img [src]="getPostContentImage(post.imagePath)" alt="post-image" class="w-4/5 rounded-lg cursor-pointer"></a>
        </div>
        
        <div class="w-full py-4 pl-10 pr-6 flex flex-row justify-around space-around">
            <div >
                <mat-icon mat-raised-button [matBadge]="post.comment" matBadgeSize="small" matBadgePosition="below after" matBadgeColor="primary"  aria-hidden="false" class="cursor-pointer text-slate-700 hover:text-slate-500"> comment</mat-icon>
            </div>
            <div>
                <mat-icon mat-raised-button [matBadge]="post.fav.length" matBadgeSize="small" matBadgePosition="below after" matBadgeColor="primary"  aria-hidden="false" class="cursor-pointer text-slate-700 hover:text-slate-500">favorite_border</mat-icon>
            </div>
            <div>
                <mat-icon  class="cursor-pointer text-slate-700 hover:text-slate-500">share</mat-icon>
            </div>
            <div>
                <button type="button" [matMenuTriggerFor]="menu" >
                    <mat-icon class="cursor-pointer text-slate-700 hover:text-slate-500" >report</mat-icon>
                </button>
                <mat-menu #menu="matMenu" yPosition="above">
                    <button mat-menu-item *ngFor="let rpt of reports" (click)="report(rpt.id,post.id)">
                      <span>{{rpt.reason}}</span>
                    </button>
                </mat-menu>
                
            </div>
        </div>
    </div>
    <hr class="w-full h-1 py-2 bg-primary-color-extra-light">
    <!-- post footer section -->
    <div class="bg-primary-color-extra-light w-full ">
       
        
        <div class="w-full pl-10 pr-6 py-4">
            
            <div class="flex flex-row space-x-1 relative">
                <textarea name="commentarea" id="comment-area" class="relative w-full peer placeholder-transparent focus:outline-none focus:borer-rose-600 text-gray-900" [(ngModel)]="commentArea" rows="5"></textarea>
                <button type="button" class="relative px-2 py-4 bg-primary-color-dark hover:opacity-90 rounded-md text-white text-sm" (click)="Comment(post.id)">Gönder</button>
                <div class="absolute w-full bottom-0 left-1">
                    
                    <div class="flex flex-row  divide-x divide-gray-400">
                        <div>
                            <input type="file" name="comment-image" id="comment-image-file" (change)="commentPostImageSelected($event)" accept=".png,.jpg" ngf-max-size="5MB" class="hidden">
                            <mat-icon class="cursor-pointer text-primary-color-dark hover:text-primary-color hover:bg-gray-100" (click)="commentPhotoFileClick()" > insert_photo</mat-icon>
                        </div>
                        
                        <mat-icon class="cursor-pointer text-primary-color-dark hover:text-primary-color hover:bg-gray-100"> insert_emoticon</mat-icon>
                    </div>
                </div>
            </div>
            <div *ngIf="commentImage != undefined ">
                <img [src]="commentGetPostImage()" alt="image" width="250"  height="250" class="cursor-pointer w-3/5 hover:opacity-90" (click)="commentDeleteImage()">
            </div>
            <div class="flex justify-center py-2">
                <span class="text-2xl font-semibold">Yorumlar</span>
            </div>
            <!-- Comments-Section -->
            <div class="w-full pr-16 py-4" *ngFor="let comment of commentPostDetailDto" >
                <!-- comment-header -->
                <div class="bg-white w-full flex flex-row justify-between px-6 py-2 shadow-lg cursor-pointer " >
                    <div class="flex flex-row gap-1">
                    <img [src]="getUserProfileImage(comment.profileImage)" alt="profile-image" class="rounded-full cursor-pointer hover:opacity-90" width="50" height="50" routerLink="/profile/{{comment.userId}}">
                    <span class="bold text-lg text-black">{{comment.name}}</span>
                    </div>
                    <span class="text-sm text-slate-900 mute">{{comment.creationDate |date:"dd/MMM/y"}}</span>
                </div>
                <!-- comment-body -->
                <div class="bg-white w-full pb-4 shadow-lg cursor-pointer" routerLink="/posts/{{comment.id}}" routerLinkActive="active">
                    <div class="w-full pl-10 pr-6 pt-4">
                        <p class="flex flex-wrap text-[1.1rem]">{{comment.message}}</p>
                    </div>
                    <div class="w-full pl-10 pr-6" *ngIf="comment.type > 1">
                        <img [src]="getPostContentImage(comment.imagePath)" alt="post-image" class="w-2/5 rounded-lg cursor-pointer">
                    </div>
                </div>
                <!-- comment-footer -->
                <div class="bg-white w-full pb-4 shadow-lg cursor-pointer">
                    <div class="w-full py-4 pl-10 pr-6 flex flex-row justify-around space-around">
                        <div >
                            <mat-icon mat-raised-button [matBadge]="comment.comment" matBadgeSize="small" matBadgePosition="below after" matBadgeColor="primary"  aria-hidden="false" class="cursor-pointer text-slate-700 hover:text-slate-500"> comment</mat-icon>
                        </div>
                        <div>
                            <mat-icon mat-raised-button [matBadge]="comment.fav.length" matBadgeSize="small" matBadgePosition="below after" matBadgeColor="primary"  aria-hidden="false" class="cursor-pointer text-slate-700 hover:text-slate-500">favorite_border</mat-icon>
                        </div>
                        <div>
                            <mat-icon  class="cursor-pointer text-slate-700 hover:text-slate-500">share</mat-icon>
                        </div>
                        <div>

                            <button type="button" [matMenuTriggerFor]="menu" >
                                <mat-icon class="cursor-pointer text-slate-700 hover:text-slate-500" >report</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu" yPosition="above">
                                <button mat-menu-item *ngFor="let rpt of reports" (click)="report(rpt.id,comment.id)">
                                  <span>{{rpt.reason}}</span>
                                </button>
                            </mat-menu>
                            
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="h-screen w-full flex flex-col items-center justify-center" *ngIf="post.status == false">
    <p class="text-2xl font-semibold text-black">Bu gönderi gönderi sahibi sebebiyle kaldırılmıştır</p>
</div>
</div>

