<div class="px-10 py-8 transition ease-in-out ">
    <div class="post w-full py-6" *ngIf="post.status == true">
    <div class="bg-white dark:bg-secondary-color flex flex-row items-center justify-center" *ngIf="post.parentId != 0">
        <a href="/posts/{{post.parentId}}" class="text-sm text-slate-500 hover:text-slate-900 cursor-pointer dark:text-secondary-color-light">Ana Gönderi</a>
    </div>
    <!-- post header section -->
    <div class="bg-white dark:bg-secondary-color w-full flex flex-row justify-between px-6 py-2 shadow-lg cursor-pointer rounded-tl-md rounded-tr-md " >
        <div class="flex flex-row gap-1">
         <a href="/profile/{{post.userId}}">
        <img [src]="getUserProfileImage(post.profileImage)" alt="profile-image" class="rounded-full avatar-image cursor-pointer hover:opacity-90" width="50" height="50">
        </a>
        <span class="bold name-text text-black dark:text-white">{{post.name}}</span>
        </div>
        <span class=" date-text text-slate-900 mute dark:text-white">{{post.creationDate |date:"dd/MMM/y"}}</span>
    </div>
    <div class="w-full flex flex-row justify-center items-center">
        <hr class="w-11/12 h-[1px] bg-primary-color-extra-light dark:bg-secondary-color-extra-dark">    
    </div>
    <!-- post body section -->
    <div class="bg-white w-full pb-4 shadow-lg cursor-pointer rounded-bl-md rounded-br-md dark:bg-secondary-color " >
        <div class="w-full pl-10 pr-6 pt-4">
            <p class="flex flex-wrap  post-text dark:text-white">{{post.message}}</p>
        </div>
        <div class="w-full pl-10 pr-6 pb-4" *ngIf="post.type > 1">
            <a [href]="imageUrl+post.imagePath" target="_blank"><img [src]="getPostContentImage(post.imagePath)" alt="post-image" class="w-8/12 h-[600px] post-content-image  rounded-lg cursor-pointer"></a>
        </div>
        <div class="w-full flex flex-row justify-center items-center">
            <hr class="w-full h-[1px] bg-primary-color-extra-light dark:bg-secondary-color-extra-dark">    
        </div>
        <div class="w-full py-4 pl-10 pr-6 flex flex-row justify-around space-around">
            <div >
                <mat-icon mat-raised-button [matBadge]="post.comment" matBadgeSize="small" matBadgePosition="below after" matBadgeColor="primary"  aria-hidden="false" class="cursor-pointer icon-text text-slate-700 hover:text-slate-500 dark:text-white dark:hover:text-secondary-color-extra-light"> comment</mat-icon>
            </div>
            <div>
                <mat-icon mat-raised-button [matBadge]="getPostFavCount(post.id,post.fav.length,post.fav)" matBadgeSize="small" matBadgePosition="below after" matBadgeColor="primary"  aria-hidden="false" [class]="getFavClass(post.id)" (click)="favClick(post.id,post.userId,post.label)">favorite_border</mat-icon>
            </div>
            <div>
                <mat-icon  class="cursor-pointer icon-text text-slate-700 hover:text-slate-500 dark:text-white dark:hover:text-secondary-color-extra-light" (click)="copy(post.id)">share</mat-icon>
            </div>
            <div>
                <button type="button" [matMenuTriggerFor]="menu" >
                    <mat-icon class="cursor-pointer icon-text text-slate-700 hover:text-slate-500 dark:text-white dark:hover:text-secondary-color-extra-light" >report</mat-icon>
                </button>
                <mat-menu #menu="matMenu" yPosition="above" class="dark:bg-secondary-color" >
                    <button mat-menu-item *ngFor="let rpt of reports" (click)="report(rpt.id,post.id)">
                      <span class="dark:text-white" >{{rpt.reason}}</span>
                    </button>
                </mat-menu>
                
            </div>
        </div>
    </div>
    
    <!-- post footer section -->
    <div class="bg-primary-color-extra-light dark:bg-secondary-color-extra-dark w-full">
       
        
        <div class="w-full main-padding  py-4">
            
            <div class="flex flex-row space-x-1 relative">
                <textarea name="commentarea" id="comment-area" class="relative w-full peer placeholder-transparent focus:outline-none focus:borer-rose-600 text-gray-900 dark:bg-secondary-color dark:text-white" [(ngModel)]="commentArea" rows="5"></textarea>
                <button type="button" class="relative px-2 py-4 bg-primary-color-dark hover:opacity-90 rounded-md text-white text-sm dark:bg-secondary-color-light dark:text-secondary-color-extra-dark" (click)="Comment(post.id,post.userId)">Gönder</button>
                <div class="absolute w-full bottom-0 left-1">
                    
                    <div class="flex flex-row  divide-x divide-gray-400">
                        <div>
                            <input type="file" name="comment-image" id="comment-image-file" (change)="commentPostImageSelected($event)" accept=".png,.jpg" ngf-max-size="5MB" class="hidden">
                            <mat-icon class="cursor-pointer text-primary-color-dark hover:text-primary-color hover:bg-gray-100 dark:text-secondary-color-light dark:hover:bg-gray-500" (click)="commentPhotoFileClick()" > insert_photo</mat-icon>
                        </div>
                        
                        <mat-icon class="cursor-pointer text-primary-color-dark hover:text-primary-color hover:bg-gray-100 dark:text-secondary-color-light dark:hover:bg-gray-500"> insert_emoticon</mat-icon>
                    </div>
                </div>
            </div>
            <div *ngIf="commentImage != undefined ">
                <img [src]="commentGetPostImage()" alt="image" width="250"  height="250" class="cursor-pointer w-3/5 hover:opacity-90" (click)="commentDeleteImage()">
            </div>
            <div class="flex justify-center py-2">
                <span class="text-2xl font-semibold dark:text-white">Yorumlar</span>
            </div>
            <!-- Comments-Section -->
            <div class="w-full comment-padding  py-4" *ngFor="let comment of commentPostDetailDto" >
                <!-- comment-header -->
                <div class="bg-white w-full flex flex-row justify-between px-6 py-2 cursor-pointer rounded-tl-md rounded-tr-md dark:bg-secondary-color " >
                    <div class="flex flex-row gap-1">
                    <a href="/profile/{{comment.userId}}">
                    <img [src]="getUserProfileImage(comment.profileImage)" alt="profile-image" class="rounded-full avatar-image cursor-pointer hover:opacity-90" width="50" height="50">
                     </a>
                    <span class="bold name-text text-black dark:text-white">{{comment.name}}</span>
                    </div>
                    <span class="date-text text-slate-900 mute dark:text-white">{{comment.creationDate |date:"dd/MMM/y"}}</span>
                </div>
                <div class="w-full flex flex-row justify-center items-center">
                    <hr class="w-11/12 h-[1px] bg-primary-color-extra-light dark:bg-secondary-color-extra-dark">    
                </div>
                <!-- comment-body -->
                <div class="bg-white w-full pb-4 shadow-lg cursor-pointer dark:bg-secondary-color" routerLink="/posts/{{comment.id}}" routerLinkActive="active">
                    <div class="w-full pl-10 pr-6 pt-4">
                        <p class="flex flex-wrap post-text dark:text-white">{{comment.message}}</p>
                    </div>
                    <div class="w-full pl-10 pr-6" *ngIf="comment.type > 1">
                        <img [src]="getPostContentImage(comment.imagePath)" alt="post-image" class="w-8/12 height-[600px] comment-content-image rounded-lg cursor-pointer">
                    </div>
                </div>
                <div class="w-full flex flex-row justify-center items-center">
                    <hr class="w-11/12 h-[1px] bg-primary-color-extra-light dark:bg-secondary-color-extra-dark">    
                </div>
                <!-- comment-footer -->
                <div class="bg-white w-full pb-4 shadow-lg cursor-pointer rounded-bl-md rounded-br-md dark:bg-secondary-color ">
                    <div class="w-full py-4 pl-10 pr-6 flex flex-row justify-around space-around">
                        <div >
                            <mat-icon mat-raised-button [matBadge]="comment.comment" matBadgeSize="small" matBadgePosition="below after" matBadgeColor="primary"  aria-hidden="false" class="cursor-pointer icon-text text-slate-700 hover:text-slate-500 dark:text-white dark:hover:text-secondary-color-extra-light"> comment</mat-icon>
                        </div>
                        <div>
                            <mat-icon mat-raised-button [matBadge]="getPostFavCount(comment.id,comment.fav.length,comment.fav)" matBadgeSize="small" matBadgePosition="below after" matBadgeColor="primary"  aria-hidden="false" [class]="getFavClass(comment.id)" (click)="favClick(comment.id,comment.userId,comment.label)">favorite_border</mat-icon>
                        </div>
                        <div>
                            <mat-icon  class="cursor-pointer icon-text text-slate-700 hover:text-slate-500 dark:text-white dark:hover:text-secondary-color-extra-light" (click)="copy(comment.id)">share</mat-icon>
                        </div>
                        <div>

                            <button type="button" [matMenuTriggerFor]="menu" >
                                <mat-icon class="cursor-pointer icon-text text-slate-700 hover:text-slate-500 dark:text-white dark:hover:text-secondary-color-extra-light" >report</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu" yPosition="above" class="dark:bg-secondary-color">
                                <button mat-menu-item *ngFor="let rpt of reports" (click)="report(rpt.id,comment.id)">
                                  <span class="dark:text-white">{{rpt.reason}}</span>
                                </button>
                            </mat-menu>
                            
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="h-screen w-full flex flex-col items-center justify-center" *ngIf="post.status == false">
    <p class="text-2xl font-semibold text-black">Bu gönderi gönderi sahibi sebebiyle kaldırılmıştır</p>
</div>
</div>

