
<div class="pt-6 w-full ">
    <form [formGroup]="updateForm" class="flex flex-col justify-center items-center px-10 py-4 bg-white dark:bg-secondary-color  rounded-lg " >
        <div class="flex flex-row justify-center items-center py-4">
            <span class="text-2xl font-semibold text-black dark:text-white">Şifre Ayarları</span>
        </div>
        <div class="flex flex-col justify-start py-4">
            <label for="password" class="text-black text-sm font-semibold dark:text-white">Eski Şifre:</label>
            <input autocomplete="off" type="password" id="password" formControlName="passwordForm" class="peer dark:bg-secondary-color-extra-light dark:text-white font-semibold placeholder-transparent h-10 w-full border-b-2 border-gray-300 text-gray-900 focus:outline-none focus:borer-rose-600"> 
        </div>
        <div class="flex flex-col justify-start password-form py-4">
            <label for="new-password" class="text-black text-sm font-semibold dark:text-white ">Yeni Şifre:</label>
            <input autocomplete="off" type="password" id="new-password" formControlName="newPasswordForm" class="peer dark:bg-secondary-color-extra-light dark:text-white  font-semibold placeholder-transparent h-10 w-full border-b-2 border-gray-300 text-gray-900 focus:outline-none focus:borer-rose-600"> 
        </div>
        <div class="flex flex-col justify-start py-4">
            <label for="new-password-repeat" class="text-black text-sm font-semibold dark:text-white ">Şifre Tekrarı:</label>
            <input autocomplete="off" type="password" id="new-password-repeat" formControlName="newPasswordRepeatForm" class="peer dark:bg-secondary-color-extra-light dark:text-white  font-semibold placeholder-transparent h-10 w-full border-b-2 border-gray-300 text-gray-900 focus:outline-none focus:borer-rose-600"> 
        </div>
        <div class="flex flex-row justify-end items-end w-full">
            <div class="px-6 py-4 flex flex-row justify-center items-center bg-red-500 rounded-lg hover:opacity-90 cursor-pointer" (click)="Save()">
                <span class="text-sm text-white font-semibold">Kaydet</span>
            </div>
        </div>
    </form>
</div>
