<div class="px-10 py-4">
    <div class="flex w-full justify-center items-center py-4">
        <span class="text-2xl font-semibold text-slate-500">Takip Edilenler</span>
    </div>

    <div class="flex flex-row flex-wrap w-full " *ngIf="followedList.length > 0">
    <div class="bg-white dark:bg-secondary-color shadow-lg flex flex-row items-center justify-center w-64 py-4  mx-2 my-2" *ngFor="let followed of followedList|friendFilter:followerFilter">
        <div class="flex flex-col items-center justify-center  ">
            <img [src]="GetUserAvatar(followed.profileImage)" alt="avatar" height="50" width="50" class="rounded-full">
            <span class="text-black text-sm font-semibold dark:text-white">{{followed.name}}</span>
        </div>
        <div class="flex flex-col space-y-1 px-4 justify-center items-center">
            <div class="flex justify-center items-center py-4 px-6 bg-red-500 dark:bg-secondary-color-extra-light hover:opacity-90 cursor-pointer rounded-lg shadow-lg" routerLink="/profile/{{followed.userId}}">
                <mat-icon class="text-2xl text-white dark:text-secondary-color-extra-dark">launch</mat-icon>
            </div>
        </div>
    </div> 
    
</div>
<div class="flex w-full justify-center items-center" *ngIf="followedList.length == 0">
    <span class="text-sm font-semibold text-slate-500">Henüz takip edilen kullanıcı yok</span>
</div>




<div class="flex w-full justify-center items-center py-4">
    <span class="text-2xl font-semibold text-slate-500">Takipçi Listesi</span>
</div>

<div class="flex flex-row flex-wrap w-full " *ngIf="followerList.length > 0">
<div class="bg-white dark:bg-secondary-color shadow-lg flex flex-row items-center justify-center w-64 py-4  mx-2 my-2" *ngFor="let follower of followerList">
    <div class="flex flex-col items-center justify-center  ">
        <img [src]="GetUserAvatar(follower.profileImage)" alt="avatar" height="50" width="50" class="rounded-full">
        <span class="text-black text-sm font-semibold dark:text-white">{{follower.name}}</span>
    </div>
    <div class="flex flex-col space-y-1 px-4 justify-center items-center">
        <div class="flex justify-center items-center py-4 px-6 bg-red-500 dark:bg-secondary-color-extra-light hover:opacity-90 cursor-pointer rounded-lg shadow-lg" routerLink="/profile/{{follower.userId}}">
            <mat-icon class="text-2xl text-white dark:text-secondary-color-extra-dark">launch</mat-icon>
        </div>
    </div>
</div> 

</div>
<div class="flex w-full justify-center items-center" *ngIf="followerList.length == 0">
    <span class="text-sm font-semibold text-slate-500">Henüz takip eden kullanıcı yok.</span>
</div>
    
</div>