
.comment-section{
    display: block;
}



@media screen and (max-width: 1025px)
{

}


@media screen and (max-width: 992px)
{
 .post-text{
    font-size: 1rem;
 }
}

@media screen and (max-width: 886px)
{
   .icon-text{
    font-size: 1.3rem;
   }
   .name-text{
    font-size: 1rem;
   }

   .date-text{
    font-size: 0.75rem;
   }

}

@media screen and (max-width: 769px)
{
   /* .comment-section{
    display: none;
   } */

   .post-text{
    font-size:0.9rem;
   }
   .icon-text{
    font-size: 1.1rem;
   }
   .name-text{
    font-size: 1rem;
   }

   .date-text{
    display: none;
   }

   .pp-size{
    width: 40px;
    height: 40px;
   }

   .post-image{
    height: 300px;
   }
}


@media screen and (max-width: 500px)
{
  .comment-section{
    display: none;
   }
}
