<!-- <div class="h-screen sticky top-0   z-10 bg-primary-color-red text-white transition ease-in-out  dark:from-secondary-color dark:to-secondary-color-dark  shadow-2xl">
    <div class="flex flex-col h-full w-full items-center justify-center divide-y-[1px] divide-primary-color-yellow space-y-4 ">
        <a class="flex justify-start w-3/4" href="/home">
            <div  class="flex flex-row items-center space-x-1 w-full  cursor-pointer ">  
                <div class="w-full py-6  transition ease-in-out delay-150 hover:translate-x-10 hover:text-primary-color-orange dark:hover:text-black duration-300  ">
                    <span  class="block text-2xl font-semibold  tracking-wider w-full ">Anasayfa</span>
                </div>
            </div>
        </a>
        
        <a class="flex justify-start w-3/4" href="/profile/{{user.id}}">
            <div  class="flex py-6  w-full   cursor-pointer transition ease-in-out delay-150 hover:translate-x-10 hover:text-primary-color-orange dark:hover:text-black duration-300 ">
                <span class="block  text-xl font-semibold  flex items-center tracking-widert w-full">Profil</span>
            </div>
        </a>
        <a class="flex justify-start w-3/4" href="/friends">
            <div  class="flex py-6  w-full   cursor-pointer transition ease-in-out delay-150 hover:translate-x-10 hover:text-primary-color-orange dark:hover:text-black duration-300  ">
                <span  class="block  text-xl font-semibold t flex items-center tracking-wider w-full">Arkadaşlar</span>
            </div>
        </a>
        <a class="flex justify-start w-3/4"  href="/messages">
            <div class="flex py-6  w-full   cursor-pointer transition ease-in-out delay-150 hover:translate-x-10 hover:text-primary-color-orange dark:hover:text-black duration-300  ">
                <span class="block text-xl font-semibold  flex items-center tracking-wider w-full ">Mesajlar</span>
            </div>
        </a>
        <div class="flex justify-start w-3/4 py-6">
            <div class="block flex flex-row justify-center w-full items-center bg-primary-color-orange dark:bg-black hover:opacity-80 px-6 py-4 rounded-lg cursor-pointer space-x-1"  (click)="OpenPostModal()">
                <div >
                    <span class="text-xl">Paylaş</span>
                </div>
                <div >
                    <mat-icon class="text-2xl">add</mat-icon>
                </div>
                
            </div>
        </div>
       
        
    </div>
</div> -->

<div id="sidebar" class="sidebar dark:bg-secondary-color transition ease-in-out bg-white">
    <div class="main-icon">
        <mat-icon class="close-icon transition ease-in-out bg-white dark:bg-secondary-color text-black dark:text-white scale-x-[-1]" (click)="SwitchSidebar(false)">exit_to_app</mat-icon>
    </div>
    <div class="sidebar-header">
        <span class="header-text dark:text-white">SocialMedia</span>
    </div>
    <ul class="sidebar-ul">
        <li class="sidebar-li" (click)="SwitchSidebar(true)"><mat-icon class="sidebar-open transition ease-in-out bg-white dark:bg-secondary-color text-black dark:text-white">exit_to_app</mat-icon></li>
        <li [ngClass]="setSelectedPage('1')"><a href="/home"> <mat-icon fontIcon="home" class="icon-text transition ease-in-out bg-white text-black dark:bg-secondary-color dark:text-white"></mat-icon> <span class="page-text  text-black  dark:text-white">Anasayfa</span></a></li>
        <li  [ngClass]="setSelectedPage('2')"><a href="/search"> <mat-icon class="icon-text transition ease-in-out bg-white dark:bg-secondary-color text-black dark:text-white">search</mat-icon><span class="page-text  text-black dark:text-white">Ara</span></a></li>
        <li  [ngClass]="setSelectedPage('3')"><a href="/profile/{{user.id}}"> <mat-icon class="icon-text transition ease-in-out bg-white dark:bg-secondary-color text-black dark:text-white">person</mat-icon><span class="page-text  text-black dark:text-white">Profil</span></a></li>
        <li  [ngClass]="setSelectedPage('4')"><a href="/friends"> <mat-icon class="icon-text transition ease-in-out bg-white dark:bg-secondary-color text-black dark:text-white">public</mat-icon><span class="page-text  text-black dark:text-white">Arkadaşlar</span></a></li>
        <li  [ngClass]="setSelectedPage('5')"><a href="/messages"> <mat-icon class="icon-text transition ease-in-out bg-white dark:bg-secondary-color text-black dark:text-white"> mail_outline</mat-icon><span class="page-text  text-black dark:text-white">Mesajlar</span></a></li>
        <li  class="sidebar-li-btn"><div (click)="OpenPostModal()" class="btn-share"><span class="btn-share-text">Paylaş</span> <mat-icon class="btn-share-icon">add</mat-icon></div></li>
    </ul>
</div>

<div id="post-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-2xl max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white dark:bg-secondary-color rounded-lg shadow ">
            
            
            <!-- Modal body -->
            <div class="p-4 md:p-5 space-y-1">
                <div class="flex items-center justify-between p-2  border-b rounded-t dark:border-gray-600">
               
                    <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" (click)="ClosePostModal()">
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>
                <div class="relative w-full h-full">
                <textarea name="postarea" id="post-area"  rows="8" class="relative w-full h-full dark:bg-secondary-color dark:text-white rounded-md" placeholder="Fikirlerinizi paylaşın.." maxlength="255" [(ngModel)]="postarea"></textarea>
                <div class="absolute w-full bottom-3 left-1">
                    <hr class="text-gray-500 py-1">
                    <div class="flex flex-row  divide-x divide-gray-400">
                        <div>
                            <input type="file" name="post-image" id="post-image-file" (change)="postImageSelected($event)" accept=".png,.jpg" ngf-max-size="5MB" class="hidden">
                            <mat-icon class="cursor-pointer text-primary-color-dark hover:text-primary-color-orange hover:bg-gray-100 dark:text-secondary-color-light dark:hover:bg-gray-500" (click)="photoFileClick()"> insert_photo</mat-icon>
                        </div>
                        
                        <mat-icon class="cursor-pointer text-primary-color-dark hover:text-primary-color-orange hover:bg-gray-100 dark:text-secondary-color-light dark:hover:bg-gray-500"> insert_emoticon</mat-icon>
                    </div>
                </div>
                </div>
                <div *ngIf="postImage != undefined">
                    <img [src]="getPostImage()" alt="image"  height="500" class="cursor-pointer hover:opacity-90 border-2 border-solid border-stone-500" (click)="deleteImage()">
                </div>
                <div class="flex flex-col items-end">
                    <button type="button" class="rounded-md bg-primary-color-orange hover:bg-primary-color text-white px-8 py-4 dark:bg-secondary-color-light dark:text-secondary-color-extra-dark" (click)="Post()">Paylaş</button>
                </div>
            </div>
        </div>
    </div>
</div>