
.profile-image{
    height: 50px;
    width: 50px;
}

.name-text{
    font-size: 1.125rem;
}

.date-text{
    font-size: 1.125rem;
}

.unban-text{
    font-size: 0.875rem;
}

.button-padding{

    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.content-flex{
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 1370px)
{


}

@media screen and (max-width: 1280px)
{
 
}

@media screen and (max-width: 1180px)
{


    
}

@media screen and (max-width: 1025px)
{

}



@media screen and (max-width: 992px)
{
 
}

@media screen and (max-width: 836px)
{
   

}

@media screen and (max-width: 769px)
{

}



@media screen and (max-width: 700px)
{


}

@media screen and (max-width: 650px)
{
    .profile-image{
        height: 50px;
        width: 50px;
    }
    
    .name-text{
        font-size: 1rem;
    }
    
    .date-text{
        font-size: 1rem;
    }
    
    .unban-text{
        font-size: 0.775rem;
    }
    
    .button-padding{
    
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 1.3rem;
        padding-right: 1.3rem;
    }
}

@media screen and (max-width: 600px)
{
    .profile-image{
        height: 50px;
        width: 50px;
    }
    
    .name-text{
        font-size: 0.9rem;
    }
    
    .date-text{
        font-size: 0.9rem;
    }
    
    .unban-text{
        font-size: 0.675rem;
    }
    
    .button-padding{
    
        padding-top: 0.9rem;
        padding-bottom: 0.9rem;
        padding-left: 1.1rem;
        padding-right: 1.1rem;
    }
    

}

@media screen and (max-width: 540px)
{
   
}

@media screen and (max-width: 500px)
{
    .profile-image{
        height: 50px;
        width: 50px;
    }
    
    .name-text{
        font-size: 0.8rem;
    }
    
    .date-text{
        font-size: 0.7rem;
    }
    
    .unban-text{
        font-size: 0.575rem;
    }
    
    .button-padding{
    
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}


@media screen and (max-width: 430px)
{
    .profile-image{
        height: 50px;
        width: 50px;
    }
    
    .name-text{
        font-size: 0.7rem;
    }
    
    .date-text{
        font-size: 0.6rem;
    }
    
    .unban-text{
        font-size: 0.5rem;
    }
    
    .button-padding{
    
        padding-top: 0.6rem;
        padding-bottom: 0.6rem;
        padding-left: 0.8rem;
        padding-right: 0.8rem;
    }

}

@media screen and (max-width: 400px)
{
    .content-flex{
        flex-direction: column;
    }

}

