.relative {
    position: relative;
}

.bg-cover {
    background-size: cover;
}

.bg-center {
    background-position: center;
}

.bg-profile {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}



.edited-profile-image {
    width: 100%;
    height: 250px;
    background-repeat: no-repeat;
    object-fit: cover;
    border: 2px solid black;
    border-radius: 8px;
}