.relative {
    position: relative;
}

.bg-cover {
    background-size: cover;
}

.bg-center {
    background-position: center;
}

.bg-profile {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}




.edited-profile-image {
    width: 100%;
    height: 250px;
    background-repeat: no-repeat;
    object-fit: cover;
    border: 2px solid black;
    border-radius: 8px;
}


.message-icon{
    font-size: 1.5rem;
}


.profile-name-text{
    font-size: 1.5rem;
}

.info-text{
   font-size: 1.125rem;
}

.description-text{
    font-size: 0.9rem;
}

.location-text{
    font-size: 1rem;
}

.info-page-text{
    font-size: 1.25rem;
}

.button-padding {
    padding-left:1.5rem ;
    padding-right:1.5rem ;
    padding-top:1rem ;
    padding-bottom:1rem ;
}

.button-padding-plus {
    padding-left:1.5rem ;
    padding-right:1.5rem ;
    padding-top:1rem ;
    padding-bottom:1rem ;
}

.profile-interact-btn-text-plus{
    font-size: 1.25rem;
}






@media screen and (max-width: 992px)
{
    .message-icon{
        font-size: 1.3rem;
    }
    
    .profile-interact-btn-text{
        font-size: 1rem;
    }
    
    .profile-name-text{
        font-size: 1.3rem;
    }
    
    .info-text{
       font-size: 0.9rem;
    }
    
    .description-text{
        font-size: 0.8rem;
    }
    
    .location-text{
        font-size: 0.9rem;
    }
    
    .info-page-text{
        font-size: 1.1rem;
    }
    
    .button-padding {
        padding-left:1.1rem ;
        padding-right:1.1rem ;
        padding-top:0.9rem ;
        padding-bottom:0.9rem ;
    }

    .button-padding-plus {
        padding-left:1.1rem ;
        padding-right:1.1rem ;
        padding-top:0.9rem ;
        padding-bottom:0.9rem ;
    }
    
    .profile-interact-btn-text-plus{
        font-size: 1rem;
    }
}

@media screen and (max-width: 886px)
{
   
    .button-padding {
        padding-left:1rem ;
        padding-right:1rem ;
        padding-top:0.8rem ;
        padding-bottom:0.8rem ;
    }

    .profile-interact-btn-text{
        font-size: 0.9rem;
    }
 
}

@media screen and (max-width: 830px)
{

    .button-padding {
        padding-left:0.9rem ;
        padding-right:0.9rem ;
        padding-top:0.7rem ;
        padding-bottom:0.7rem ;
    }

    .profile-interact-btn-text{
        font-size: 0.9rem;
    }

}

@media screen and (max-width: 806px)
{
    .button-padding {
        padding-left:0.8rem ;
        padding-right:0.8rem ;
        padding-top:0.7rem ;
        padding-bottom:0.7rem ;
    }

    .profile-interact-btn-text{
        font-size: 0.8rem;
    }
}


@media screen and (max-width: 787px)
{
    .button-padding {
        padding-left:0.8rem ;
        padding-right:0.8rem ;
        padding-top:0.7rem ;
        padding-bottom:0.7rem ;
    }

    .profile-interact-btn-text{
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 770px)
{
    .button-padding {
        padding-left:0.8rem ;
        padding-right:0.8rem ;
        padding-top:0.7rem ;
        padding-bottom:0.7rem ;
    }

    .profile-interact-btn-text{
        font-size: 0.6rem;
    }
}


@media screen and (max-width: 769px)
{
    .button-padding {
        padding-left:1.5rem ;
        padding-right:1.5rem ;
        padding-top:1rem ;
        padding-bottom:1rem ;
    }


    .message-icon{
        font-size: 1.3rem;
    }
    
    .profile-interact-btn-text{
        font-size: 1rem;
    }
    
}

@media screen and (max-width: 560px)
{
    .message-icon{
        font-size: 1.1rem;
    }
    
    .button-padding {
        padding-left:0.8rem ;
        padding-right:0.8rem ;
        padding-top:0.7rem ;
        padding-bottom:0.7rem ;
    }

    .profile-interact-btn-text{
        font-size: 0.6rem;
    }

    .profile-name-text{
        font-size: 1.1rem;
    }
    
}

@media screen and (max-width: 471px)
{
    .message-icon{
        font-size: 1.1rem;
    }
    
    .button-padding {
        padding-left:0.9rem ;
        padding-right:0.9rem ;
        padding-top:0.7rem ;
        padding-bottom:0.7rem ;
    }

    .profile-interact-btn-text{
        font-size: 0.5rem;
    }
    
}

@media screen and (max-width: 438px){
 
    
    .profile-interact-btn-text-plus{
        font-size: 0.8rem;
    }

    .profile-name-text{
        font-size: 1rem;
    }
}

@media screen and (max-width: 390px){
 
    
    .profile-interact-btn-text-plus{
        font-size: 0.8rem;
    }
}